@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700&display=swap');

/* *{
    border: 1px solid red;
} */

body{
    font-family: 'Fira Sans', sans-serif;
    text-align: center;
    background: linear-gradient(90deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    color: white;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
}

a{
    text-decoration: none;
    color: white;
}

h1{
    font-size: 3em;
}

.container{
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: center;
    align-items: center;
    padding-bottom: 6em;
}
.overlay-window{
    display: none; 
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    z-index: 1;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}


.overlay-content{
    flex-direction: column;
    text-align: left;
    background-color: white;
    padding: 64px;
    color: darkslategray;
    border-radius: 16px;
    width: 650px;
}

span.close{
    float: right;
    display: inline;
    position: relative;
    top: -32px;
    bottom: -48px;
    font-size: 32px;
    cursor: pointer;
    padding: 16px;
}

button{
    cursor: pointer;
    font-family: inherit;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    border-radius: 8px;
    padding: 24px 48px;
    width: 512px;
    background-color: white;
    border: 0;
    box-shadow: 0px 16px 32px rgba(17, 15, 61, 0.24);
}